<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--browser tab text-->

	<title>TACO TIME</title>

	<!--css style sheet linked-->

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

	<!--  ADD A GOOGLE FONT!! -->
	<!-- USE BOOTSTRAP OR UiKIT -->

	<!-- jQuery + javascript linked -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/taco.js"></script>

	<!-- ADD A FAVICON -->

</head>

<body>

	{{{ body }}}

</body>

</html>