<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--browser tab text-->

	<title>TACO TIME</title>

	<!--css style sheet linked-->

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

	<!--  ADD A GOOGLE FONT!! -->

	 <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap" rel="stylesheet" />

	<!-- BOOTSTRAP -->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">



	<!-- jQuery + javascript linked -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/taco.js"></script>

	<!-- ADD A FAVICON -->

</head>

<body>

	{{{ body }}}

</body>

</html>