

{{!-- title "taco time" navbar just for design purposes, no navigation as this is one page --}}

   
    <nav class="navbar navbar-expand-lg navbar-dark justify-content-center align-items-start">
        {{!-- <a class="navbar-brand">TACO • TIME‏‏‎</a> --}}
        <img src="../assets/img/it's_taco_time_150px.jpg" class="img-fluid" alt="Responsive image">
    </nav>




{{!-- responsive hero image with greayscale licesnsed stock image pattern of tacos --}}



    <section class="heroIMAGE img-fluid" alt="taco pattern">
        <img class="heroHEIGHT">
    </section>




{{!-- jumbotron + search form and button  --}}



<div class="jumbotron">
    <div class="container-fluid text-center">
        <h2 class="display-4">Want Some Tacos?</h2>
        <p style="font-weight: bold">Enter desired taco type:</p>
        <form class="create-form form-group">
            <div>
                <textarea type="text" id="taco" rows="2" name="name" placeholder=""></textarea>
            </div>
            <button href="#bottom" type="submit" type="button" class="btn btn-dark btn-sm form-button">Submit</button>
        </form>
    </div>
</div>

<br>
<hr>
<br>


{{!-- information cards holding the requested items and devoured --}}


<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h2>Dig in.</h2>
                        <hr>
                        <ul>
                            {{#each tacos}}
                            {{#unless devoured}}
                            {{> tacos/taco-block devoured=false}}
                            {{/unless}}
                            {{/each}}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h2>Devoured Tacos.</h2>
                        <hr>
                        <ul>
                            {{#each tacos}}
                            {{#if devoured}}
                            {{> tacos/taco-block devoured=true}}
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <br>
    <br>
    <div id="bottom"> 
    </div>