{{!-- partial block helps dry up the index.handlebars code so we don't repeat ourself. --}}

<li>

	{{ taco_name }}

	{{#unless devoured}}
	<button type="button" class="changeto-devoured btn btn-dark btn-sm" data-id="{{id}}" data-devoured="{{devoured}}">
		Devour!
	</button>
	{{/unless}}
	<button type="button" class="remove-taco btn btn-dark btn-sm" data-id="{{id}}">Delete. </button>

</li>