

{{!-- this speaks to the assets folder tacos.js for the buttons and form --}}


	<button class="changeto-devour" data-id="{{id}}" data-newlydevoured="{{sleep}}">
		{{#unless devoured}} Devour It!{{/unless}}
	</button>

	<button class="remove-taco" data-id="{{id}}">
		DELETE
	</button>


{{!-- DELETE ^ IS AN OPTIONAL WISHLIST ITEM --}}